@import '../../../Styles/variables';
@import '../../../Styles/mixin';

.image-preview-container {
  margin: 10px;
  position: relative;
  overflow: hidden;

  .image-resolution {
    padding: 5px 10px;
    display: inline-block;
    background-color: $code;
    border-radius: 10px;
    @include font(12px, 400, $white);
    position: absolute;
    top: 5px;
    right: 5px;
  }

  canvas {
    background-color: $border;
    border: 2px solid $value;
  }

  .crop-option-overlay {
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;

    button {
      background-color: $code;
    }
  }
}