@import './mixin';
@import './variables';

html,
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

button {
  border: none;
  text-transform: uppercase;

  &.primary {
    padding: 10px 25px;
    background-color: $google-blue;
    @include font(14px, 500, $white);
  }

  &.secondary {
    padding: 10px 25px;
    background-color: $border;
    @include font(14px, 500, $value);
    border: 2px solid $border;
  }

  &:disabled {
    background-color: $border;
    color: $box-shadow;
    cursor: not-allowed;
  }
}

.error {
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: $error-background;
  border: 1px solid $error;
  @include font(14px, 500, $error);
  display: inline-block;
}