$white: #fff;
$black: #000;
$border: #eeeeeeb3;
$value: #666;
$box-shadow: #00000099;
$google-blue: #4286f5;
$error: #e74c3c;
$error-font: #721c24;
$error-background: #f8d7da;
$main-background-color: #f8f8f8;